<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="FileShareBehavior">
          <serviceTimeouts transactionTimeout="00:30:00" />
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentInstances="10" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="FileShareBehavior" name="Profes.P2P.FileShare.ServiceModel.FileShareService">
        <endpoint address="" behaviorConfiguration="" binding="netTcpBinding"
          bindingConfiguration="Tcp_Binding" name="Tcp_Service" contract="Profes.P2P.FileShare.ServiceModel.IFileShareService" />
      </service>
    </services>

    <client>
      <endpoint address="" behaviorConfiguration="" binding="netTcpBinding"
        bindingConfiguration="Tcp_Binding" contract="Profes.P2P.FileShare.ServiceModel.IFileShareService"
        name="Tcp_Client" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="Tcp_Binding" closeTimeout="00:30:00" openTimeout="00:10:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" listenBacklog="10"
          maxConnections="256" maxReceivedMessageSize="10485760" portSharingEnabled="false">
          <readerQuotas maxArrayLength="10485760" />
          <reliableSession inactivityTimeout="00:10:00" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>